<header class="headerdiv">
    <img class="header" id="logo" src="/yoshanew.png" alt="">
    <a class="header" href="/projects"><button class="headerBtn btn btn-outline-warning header">HOME</button></a>
    <a class="header" href="/projects/new"><button class="headerBtn btn btn-outline-warning header">CREATE</button></a>
    <a class="header" href="contact.html"><button class="headerBtn btn btn-outline-warning header" id="openModal header">CONTACT</button></a>
</header>